Krudumrong/led_on_off_pwm_dht/All.json
[{"id":"77d850cb.aa33b","type":"tab","label":"all_node-red","disabled":false,"info":""},{"id":"af0f1d8d.cdd42","type":"mqtt out","z":"77d850cb.aa33b","name":"","topic":"led","qos":"","retain":"","broker":"487b2260.24f6ac","x":450,"y":300,"wires":[]},{"id":"f0e66b1f.f6a5d8","type":"ui_switch","z":"77d850cb.aa33b","name":"","label":"switch1","tooltip":"","group":"82aee1ed.da0b4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":240,"y":340,"wires":[["af0f1d8d.cdd42"]]},{"id":"4934d238.dbb85c","type":"ui_slider","z":"77d850cb.aa33b","name":"","label":"slider","tooltip":"","group":"534d7a75.1c4b34","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"led2","min":0,"max":"255","step":1,"x":230,"y":80,"wires":[["4c289b9.9e82864"]]},{"id":"13fb0cc9.cbf723","type":"ui_gauge","z":"77d850cb.aa33b","name":"","group":"534d7a75.1c4b34","order":3,"width":0,"height":0,"gtype":"gage","title":"pwm","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#07164b","#1163a2","#bba5e3"],"seg1":"","seg2":"","x":790,"y":200,"wires":[]},{"id":"2e3ea269.79a99e","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"led","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":650,"y":260,"wires":[["93baa0c4.b7a0c"]]},{"id":"93baa0c4.b7a0c","type":"debug","z":"77d850cb.aa33b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"4e3b113b.2b906","type":"ui_gauge","z":"77d850cb.aa33b","name":"","group":"b5ac0011.5b32e","order":1,"width":0,"height":0,"gtype":"donut","title":"temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#edf109","#bbbb1b","#52591d"],"seg1":"","seg2":"","x":370,"y":560,"wires":[]},{"id":"7a3f5b05.f27844","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":170,"y":560,"wires":[["4e3b113b.2b906","6ee6d069.8f325"]]},{"id":"29bdd864.9f62b8","type":"ui_gauge","z":"77d850cb.aa33b","name":"","group":"3f395416.c7ffac","order":1,"width":0,"height":0,"gtype":"wave","title":"humanity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#3b0735","#9b9ca6","#ffffff"],"seg1":"","seg2":"","x":360,"y":680,"wires":[]},{"id":"820b6efc.148a5","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"humanity","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":160,"y":680,"wires":[["29bdd864.9f62b8","6ee6d069.8f325"]]},{"id":"d4a74cfe.4eb7e","type":"ui_gauge","z":"77d850cb.aa33b","name":"","group":"c73787fb.68c718","order":1,"width":0,"height":0,"gtype":"donut","title":"farenheit","label":"farenheit","format":"{{value}}","min":0,"max":"100","colors":["#2f0408","#971113","#f20d0d"],"seg1":"","seg2":"","x":360,"y":620,"wires":[]},{"id":"45efdc27.41baa4","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"faren","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":170,"y":620,"wires":[["d4a74cfe.4eb7e","6ee6d069.8f325"]]},{"id":"e27c4dfb.07bd2","type":"inject","z":"77d850cb.aa33b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LEDURN","payloadType":"str","x":240,"y":300,"wires":[["af0f1d8d.cdd42"]]},{"id":"5d394e01.a0059","type":"inject","z":"77d850cb.aa33b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["4c289b9.9e82864"]]},{"id":"88ab3e5b.17f14","type":"ui_text_input","z":"77d850cb.aa33b","name":"","label":"","tooltip":"","group":"534d7a75.1c4b34","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":240,"y":120,"wires":[["4c289b9.9e82864"]]},{"id":"6ee6d069.8f325","type":"debug","z":"77d850cb.aa33b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":740,"wires":[]},{"id":"93f6695e.338ef8","type":"ui_button","z":"77d850cb.aa33b","name":"","group":"82aee1ed.da0b4","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"click to on","color":"black","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":230,"y":380,"wires":[["af0f1d8d.cdd42"]]},{"id":"c48edcd5.f49d7","type":"ui_button","z":"77d850cb.aa33b","name":"","group":"82aee1ed.da0b4","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Click to off","color":"black","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":250,"y":420,"wires":[["af0f1d8d.cdd42"]]},{"id":"4c289b9.9e82864","type":"mqtt out","z":"77d850cb.aa33b","name":"","topic":"run","qos":"","retain":"","broker":"487b2260.24f6ac","x":450,"y":160,"wires":[]},{"id":"9de7241.c9518d8","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"run","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":650,"y":200,"wires":[["13fb0cc9.cbf723","93baa0c4.b7a0c"]]},{"id":"33bc9bd1.45f6f4","type":"ui_text_input","z":"77d850cb.aa33b","name":"","label":"","tooltip":"","group":"b858826f.880a5","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"oled","x":700,"y":520,"wires":[["2884e99d.2ddd46","4b526322.0a067c"]]},{"id":"2884e99d.2ddd46","type":"ui_text","z":"77d850cb.aa33b","group":"b858826f.880a5","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":600,"wires":[]},{"id":"dbb17e4c.7200c","type":"debug","z":"77d850cb.aa33b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":440,"wires":[]},{"id":"4b526322.0a067c","type":"mqtt out","z":"77d850cb.aa33b","name":"","topic":"oled","qos":"","retain":"","broker":"487b2260.24f6ac","x":890,"y":520,"wires":[]},{"id":"2628cce7.0f7d34","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"oled","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":810,"y":440,"wires":[["dbb17e4c.7200c"]]},{"id":"2de978c8.88dbc8","type":"debug","z":"77d850cb.aa33b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":760,"wires":[]},{"id":"41503a4e.b985b4","type":"ui_text","z":"77d850cb.aa33b","group":"c39e2272.042cc","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":840,"wires":[]},{"id":"53ffe2e3.79a88c","type":"mqtt in","z":"77d850cb.aa33b","name":"","topic":"button","qos":"2","datatype":"auto","broker":"63ebd536.dd758c","x":820,"y":800,"wires":[["2de978c8.88dbc8","41503a4e.b985b4"]]},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82aee1ed.da0b4","type":"ui_group","name":"LED sw","tab":"287d572e.4654b8","order":7,"disp":true,"width":"6","collapse":false},{"id":"534d7a75.1c4b34","type":"ui_group","name":"LED PWM","tab":"287d572e.4654b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"b5ac0011.5b32e","type":"ui_group","name":"Temperature","tab":"287d572e.4654b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f395416.c7ffac","type":"ui_group","name":"Humanity","tab":"287d572e.4654b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c73787fb.68c718","type":"ui_group","name":"farenheit","tab":"287d572e.4654b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b858826f.880a5","type":"ui_group","name":"oled","tab":"287d572e.4654b8","order":6,"disp":true,"width":"6","collapse":false},{"id":"c39e2272.042cc","type":"ui_group","name":"button","tab":"287d572e.4654b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"63ebd536.dd758c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"287d572e.4654b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]