Krudumrong/IOT/flows.json
[{"id":"8c8f6b63.f0e538","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0e781c4.5e814","type":"tcp in","z":"8c8f6b63.f0e538","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"IOT","base64":false,"x":160,"y":240,"wires":[["f5ea902e.288f9"]]},{"id":"8664e657.889048","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"f5ea902e.288f9","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["8664e657.889048","70806438.fd0cfc","5c1b2aca.d44c04"]]},{"id":"601a8be3.82b7f4","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"button!=1|temp=25","payloadType":"str","x":130,"y":100,"wires":[["f5ea902e.288f9"]]},{"id":"cac1f33.abf011","type":"ui_button","z":"8c8f6b63.f0e538","name":"","group":"34f1e2e3.85e71e","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clear","payloadType":"str","topic":"Clear","x":330,"y":300,"wires":[["70806438.fd0cfc"]]},{"id":"70806438.fd0cfc","type":"ui_text","z":"8c8f6b63.f0e538","group":"34f1e2e3.85e71e","order":1,"width":"6","height":"10","name":"","label":"ITO : ","format":"{{msg.payload}}","layout":"row-right","x":610,"y":300,"wires":[]},{"id":"5484ee82.ff766","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["5cdc8f52.ba564"]]},{"id":"5cdc8f52.ba564","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"5c1b2aca.d44c04","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"C:\\Users\\HP\\Desktop\\dumrong\\iot.text","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":690,"y":200,"wires":[[]]},{"id":"f26e1b53.c49d78","type":"mqtt in","z":"8c8f6b63.f0e538","name":"","topic":"ki","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":150,"y":540,"wires":[["f5ea902e.288f9"]]},{"id":"34f1e2e3.85e71e","type":"ui_group","name":"Default","tab":"83554dae.8aea","order":1,"disp":true,"width":"6","collapse":false},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83554dae.8aea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]