Krudumrong/led_on_off___pwm/ledPWM.json
[{"id":"ce954112.58239","type":"tab","label":"PWM_LED","disabled":false,"info":""},{"id":"58549df.467ee64","type":"ui_slider","z":"ce954112.58239","name":"","label":"slider","tooltip":"","group":"534d7a75.1c4b34","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"led2","min":0,"max":"255","step":1,"x":190,"y":100,"wires":[["b8765ae2.b4cb08"]]},{"id":"6ba50b41.ff26f4","type":"inject","z":"ce954112.58239","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["b8765ae2.b4cb08"]]},{"id":"a2e59599.e8da78","type":"ui_text_input","z":"ce954112.58239","name":"","label":"","tooltip":"","group":"534d7a75.1c4b34","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":200,"y":140,"wires":[["b8765ae2.b4cb08"]]},{"id":"b8765ae2.b4cb08","type":"mqtt out","z":"ce954112.58239","name":"","topic":"run","qos":"","retain":"","broker":"487b2260.24f6ac","x":490,"y":120,"wires":[]},{"id":"9c7e1b1.83d07e8","type":"ui_gauge","z":"ce954112.58239","name":"","group":"534d7a75.1c4b34","order":3,"width":0,"height":0,"gtype":"gage","title":"pwm","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#07164b","#1163a2","#bba5e3"],"seg1":"","seg2":"","x":810,"y":120,"wires":[]},{"id":"4a6b5131.6ade2","type":"debug","z":"ce954112.58239","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"741cd1cb.8f4d9","type":"mqtt in","z":"ce954112.58239","name":"","topic":"run","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":670,"y":120,"wires":[["9c7e1b1.83d07e8","4a6b5131.6ade2"]]},{"id":"534d7a75.1c4b34","type":"ui_group","name":"LED PWM","tab":"287d572e.4654b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"287d572e.4654b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]