Krudumrong/led_on_off/led_on-off.json
[{"id":"327eef7e.77967","type":"tab","label":"on-off_LED","disabled":false,"info":""},{"id":"eb2c840c.26b138","type":"mqtt out","z":"327eef7e.77967","name":"","topic":"led","qos":"","retain":"","broker":"487b2260.24f6ac","x":510,"y":220,"wires":[]},{"id":"3c7fdc1e.d5baa4","type":"ui_switch","z":"327eef7e.77967","name":"","label":"switch1","tooltip":"","group":"82aee1ed.da0b4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":300,"y":260,"wires":[["eb2c840c.26b138"]]},{"id":"8eb396b4.329668","type":"inject","z":"327eef7e.77967","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LEDURN","payloadType":"str","x":300,"y":220,"wires":[["eb2c840c.26b138"]]},{"id":"86a365.94da6c98","type":"ui_button","z":"327eef7e.77967","name":"","group":"82aee1ed.da0b4","order":1,"width":0,"height":0,"passthru":false,"label":"ON","tooltip":"click to on","color":"black","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":290,"y":300,"wires":[["eb2c840c.26b138"]]},{"id":"a2d5005a.1e102","type":"ui_button","z":"327eef7e.77967","name":"","group":"82aee1ed.da0b4","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"Click to off","color":"black","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":310,"y":340,"wires":[["eb2c840c.26b138"]]},{"id":"39020e2b.1b6122","type":"mqtt in","z":"327eef7e.77967","name":"","topic":"led","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":810,"y":240,"wires":[["8bb53482.4eae38"]]},{"id":"8bb53482.4eae38","type":"debug","z":"327eef7e.77967","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":260,"wires":[]},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82aee1ed.da0b4","type":"ui_group","name":"LED sw","tab":"287d572e.4654b8","order":7,"disp":true,"width":"6","collapse":false},{"id":"287d572e.4654b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]