Krudumrong/led_on_off_pwm_dht_oled_button/led on off pwm dht oled button.json
[{"id":"67b8c12f.364ad","type":"tab","label":"led on off pwm dht oled button","disabled":true,"info":""},{"id":"59b64138.e6237","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"button","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":1050,"y":440,"wires":[["d5513bd6.e9f868"]]},{"id":"d5513bd6.e9f868","type":"ui_text","z":"67b8c12f.364ad","group":"d8685a52.ed5c28","order":7,"width":0,"height":0,"name":"","label":"button","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":440,"wires":[]},{"id":"b4958e73.0facc","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":210,"y":400,"wires":[["f6f2a4e1.b66638"]]},{"id":"48fcc5d5.1d481c","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"humanity","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":220,"y":460,"wires":[["67015ebe.efcec"]]},{"id":"ced88e65.949f3","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"faren","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":210,"y":540,"wires":[["e82532f3.c4db6"]]},{"id":"f6f2a4e1.b66638","type":"ui_gauge","z":"67b8c12f.364ad","name":"","group":"a856a7f8.8dc7d8","order":6,"width":0,"height":0,"gtype":"gage","title":"TEMP C","label":"celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"67015ebe.efcec","type":"ui_gauge","z":"67b8c12f.364ad","name":"","group":"a856a7f8.8dc7d8","order":7,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":460,"wires":[]},{"id":"e82532f3.c4db6","type":"ui_gauge","z":"67b8c12f.364ad","name":"","group":"4c21ce09.76411","order":8,"width":0,"height":0,"gtype":"gage","title":"fahrenheit","label":"fahrenheit","format":"{{value}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":540,"wires":[]},{"id":"c138dc9c.78b61","type":"mqtt out","z":"67b8c12f.364ad","name":"","topic":"led","qos":"","retain":"","broker":"ade5efcd.6af37","x":410,"y":80,"wires":[]},{"id":"3673223f.a73eae","type":"ui_switch","z":"67b8c12f.364ad","name":"","label":"switch","tooltip":"","group":"4c21ce09.76411","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LED","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":200,"y":80,"wires":[["c138dc9c.78b61"]]},{"id":"cdab4c75.f3e7a","type":"debug","z":"67b8c12f.364ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"b11c0e95.d71df","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"led","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":350,"y":280,"wires":[["cdab4c75.f3e7a","91b61a6f.fd6008"]]},{"id":"176dccd8.9df2b3","type":"ui_slider","z":"67b8c12f.364ad","name":"","label":"slider","tooltip":"","group":"4c21ce09.76411","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":190,"y":160,"wires":[["c138dc9c.78b61"]]},{"id":"91b61a6f.fd6008","type":"ui_gauge","z":"67b8c12f.364ad","name":"","group":"4c21ce09.76411","order":2,"width":0,"height":0,"gtype":"gage","title":"led run","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"431ed18c.476a2","type":"mqtt in","z":"67b8c12f.364ad","name":"","topic":"oled","qos":"2","datatype":"auto","broker":"ade5efcd.6af37","x":1050,"y":300,"wires":[["885658ba.b7b738"]]},{"id":"3d6ddfe0.4d8d1","type":"mqtt out","z":"67b8c12f.364ad","name":"","topic":"oled","qos":"","retain":"","broker":"ade5efcd.6af37","x":1050,"y":220,"wires":[]},{"id":"e81beb2c.e998a8","type":"ui_text_input","z":"67b8c12f.364ad","name":"","label":"","tooltip":"","group":"a856a7f8.8dc7d8","order":11,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":820,"y":220,"wires":[["3d6ddfe0.4d8d1"]]},{"id":"885658ba.b7b738","type":"debug","z":"67b8c12f.364ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":300,"wires":[]},{"id":"ade5efcd.6af37","type":"mqtt-broker","name":"localhost","broker":"192.168.43.252","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8685a52.ed5c28","type":"ui_group","name":"switch","tab":"b0fd8cac.d328e","order":3,"disp":true,"width":"6","collapse":false},{"id":"a856a7f8.8dc7d8","type":"ui_group","name":"temp","tab":"b0fd8cac.d328e","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c21ce09.76411","type":"ui_group","name":"Default","tab":"b0fd8cac.d328e","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0fd8cac.d328e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]