Krudumrong/oled_thai/Oled.json
[{"id":"d373ae34.cc144","type":"tab","label":"OLED","disabled":false,"info":""},{"id":"326a39d0.f5f606","type":"ui_text_input","z":"d373ae34.cc144","name":"","label":"","tooltip":"","group":"b858826f.880a5","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"oled","x":220,"y":200,"wires":[["ba8c4ab7.70cf58","11e40777.ad8749"]]},{"id":"ba8c4ab7.70cf58","type":"ui_text","z":"d373ae34.cc144","group":"b858826f.880a5","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"1037ad32.92fc63","type":"debug","z":"d373ae34.cc144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"11e40777.ad8749","type":"mqtt out","z":"d373ae34.cc144","name":"","topic":"oled","qos":"","retain":"","broker":"487b2260.24f6ac","x":410,"y":200,"wires":[]},{"id":"a49caf4a.f96f1","type":"mqtt in","z":"d373ae34.cc144","name":"","topic":"oled","qos":"2","datatype":"auto","broker":"487b2260.24f6ac","x":330,"y":120,"wires":[["1037ad32.92fc63"]]},{"id":"b858826f.880a5","type":"ui_group","name":"oled","tab":"287d572e.4654b8","order":6,"disp":true,"width":"6","collapse":false},{"id":"487b2260.24f6ac","type":"mqtt-broker","name":"button","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"287d572e.4654b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]